.user-detail-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    min-height: 250px;
    background-color: rgb(236, 183, 98);
    color: white;

    img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
        margin: 16px;
    }

    button{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.user-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 90px;

    h2 {
        margin-bottom: 0;
    }
}

.address-container{
    button{
        position: absolute;
        right: 0;
    }
}